{{#partial "title"}}
  <title>Historial de Consultas</title>
{{/partial}}

{{#partial "content"}}
  <h2><u>Historial de consultas</u></h2>
  <form action="/admin/consultas" method="POST">
    <label for="buscar">Fecha:</label>
		<input type="date" class="TextBoxFechaDesde" placeholder="Desde" name="desde">
		<input type="date" class="TextBoxFechaHasta" placeholder="Hasta" name="hasta">
    <br><br>
		<label for="buscar">Cant. de POIs devueltos:</label>
		<input type="number" class="TextBoxCantidadPOIs" placeholder="Cantidad" maxlength="5" name="byCantidad">
    <br><br>
		<label for="buscar">Terminal:</label>
		<input type="text" class="TextBoxTerminal" placeholder="Nombre de la terminal" maxlength="20" name="byTerminal">
    <br><br>
    <input type="submit" class="search" value="Buscar">
  </form>
  {{#block "consultas"}}
  {{/block}}
{{/partial}}

{{> admin/admin_base.hbs}}
