{{#partial "title"}}
  <title>Administrador de POIs</title>
{{/partial}}

{{#partial "content"}}
  <h2><u>Administraci&oacute;n de POIs</u></h2>
  <form action="/admin/workspace" method="POST">
    <label for="buscar">Buscar POI:</label>
    <input type="text" class="TextBox" placeholder="Escriba aqu&iacute;" maxlength="20" name="buscar_pois" id="buscar_pois">

    <label>Filtrar por:</label>
    <input type="radio" name="filtro" value="Nombre">Nombre
    <input type="radio" name="filtro" value="Tipo">Tipo

    <input type="submit" id="boton" class="ButtonBuscar" value="Buscar">
  </form>
  {{#block "pois"}}
  {{/block}}
{{/partial}}

{{> admin/admin_base.hbs}}
