{{#partial "title"}}
  <title>Administrador de Terminales</title>
{{/partial}}

{{#partial "content"}}
  <h2><u>Administraci&oacute;n de terminales</u></h2>
  <form action="/admin/terminales" method="POST">
    <label for="buscar">Buscar Terminal:</label>
		<input type="text" class="TextBox" placeholder="Escriba aqu&iacute;" maxlength="20" name="buscar_terminales" id="buscar_terminales">

		<label>Filtrar por:</label>
		<input type="radio" name="criteria" value="comunaBox" checked>Comuna
    <input type="radio" name="criteria" value="allBox">Mostrar todos

		<input type="submit" id="boton" class="ButtonBuscar" value="Buscar">
  </form>

  {{#block "terminales"}}
  {{/block}}

  <form>
    <input type="submit" formmethod="get" formaction="/admin/terminales/agregar" value="Agregar">
  </form>

{{/partial}}

{{> admin/admin_base.hbs}}
