{{#partial "pois"}}
  <h3><u>POIs encontrados</u></h3>
  <div>
    <table border="1">
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Calle Principal</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      {{#pois}}
        <tr>
          <td>{{nombre}}</td>
          <td>{{tipo}}</td>
          <td>{{callePrincipal}}</td>
          <td><a href="poiEspecifico/poiHardcodeadoAdmin.html">Entrar</a></td>
          <td><input type="checkbox" ></td>
        </tr>
      {{/pois}}
    </table>
  </div>
{{/partial}}
{{>admin/admin_pois.hbs}}
