{{#partial "header_menu"}}
<nav>
  <ul class="NavigationBar">
    <li class="ElementoDelBar"><a href="/admin/workspace">Administrar POIs</a></li>
    <li class="ElementoDelBar"><a href="/admin/terminales">Administrar Terminales</a></li>
    <li class="ElementoDelBar"><a href="/admin/consultas">Hist&oacute;rico de Consultas</a></li>
    <li class="ElementoDelBar" style="float:right"><a class="active" href="/admin/admin_out">Cerrar Sesi&oacute;n</a></li>
  </ul>
</nav>
{{/partial}}

{{> base.hbs}}
