{{#partial "title"}}
  <title>Administrador de Terminales</title>
{{/partial}}

{{#partial "content"}}
  <h2><u>Administraci&oacute;n de terminales</u></h2>
  <form action="/admin/terminales" method="POST">
    <label for="buscar">Buscar Terminal:</label>
		<input type="text" class="TextBox" placeholder="Escriba aqu&iacute;" maxlength="20" name="buscar" id="buscar">

		<label>Filtrar por:</label>
		<input type="checkbox" value="Nombre">Comuna

		<input type="submit" id="boton" class="ButtonBuscar" value="Buscar">
  </form>
  {{#block "terminales"}}
  {{/block}}
{{/partial}}

{{> admin/admin_base.hbs}}
