{{#partial "pois"}}
  <h3><u>POIs encontrados</u></h3>
  <div>
  <form id="delete" method="post" action="/admin/workspace/eliminar">
    <table border="1">
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Calle Principal</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      {{#pois}}
        <tr>
          <td>{{nombre}}</td>
          <td>{{tipo}}</td>
          <td>{{direccion.callePrincipal}}</td>
          <td><a href=/admin/poi/{{id}}>Entrar</a></td>
          <td><input type="checkbox" ></td>
        </tr>
      {{/pois}}
    </table>
     <input type="submit" value="Eliminar seleccionados">
    </form>
  </div>
{{/partial}}
{{>admin/admin_pois.hbs}}
