{{#partial "title"}}
  <title>Ingreso de Usuario dministrador</title>
{{/partial}}

{{#partial "content"}}
<div class="content">
  <h2>Ingreso como administrador</h2>
  <div>
    <form action="/admin/ingreso" method="POST">
      <label for="nombre">Usuario:</label>
      <input class="form-control" id="txt_username" name="txt_username" placeholder="Username" type="text" value="" /> <br>
      <label for="contrasenia">Password:</label>
      <input class="form-control" id="txt_password" name="txt_password" placeholder="Password" type="password" value="" /><br>
      <input id="btn_login" name="btn_login" type="submit" class="btn btn-default" value="Login" />
    </form>
  </div>

  <a class="BotonDeCambioDePagina" href="/">Volver</a>
</div>
{{/partial}}

{{> base.hbs}}
