{{#partial "header_menu"}}
<nav>
  <ul class="NavigationBar">
    <li class="ElementoDelBar"><a href="/terminal/workspace">B&uacute;squeda de POIs</a></li>
    <li class="ElementoDelBar" style="float:right"><a class="active" href="/terminal/terminal_out">Cerrar Sesi&oacute;n</a></li>
  </ul>
</nav>
{{/partial}}

{{> base.hbs}}