{{#partial "header_menu"}}
<nav>
  <ul class="NavigationBar">
    <li class="ElementoDelBar"><a href="/terminal/workspace">B&uacute;squeda de POIs</a></li>
  </ul>
</nav>
{{/partial}}

{{> base.hbs}}
