{{#partial "title"}}
  <title>Ingreso de Usuario Terminal</title>
{{/partial}}

{{#partial "content"}}
<br><br><br><br><br><br>
<h2>Ingreso como Terminal</h2>
<br><br>

<label for="buscar">Buscar POI:</label>
		<input type="text" class="TextBoxCriterio" placeholder="Escriba el criterio" maxlength="20" name="buscar" id="buscar">
		<input type="button" id="boton" class="ButtonBuscar" value="Buscar">
<br><br>

<a class="BotonDeCambioDePagina" href="../principal.html">Volver</a>

{{/partial}}

{{> base.hbs}}