<!DOCTYPE HTML>
<html>
  <head>
    {{#block "title"}}
    {{/block}}
    <link rel="stylesheet" href="/styles/estilos.css">
    <!--<link rel="stylesheet" href="styles/bootstrap.min.css">-->
  </head>
  <header>
    <a href="principal.html"><img src="/images/POI_Image.png" width="80" height="67"/></a>
  </header>
  <body>
    {{#block "content"}}
    {{/block}}
  </body>
  <footer>
    <p>Grupo 8 - Copyright 2016 - Todos los derechos reservados</p>
  </footer>
</html>
