{{#partial "title" }}

  <title> Principal - Seleccion de usuario </title>

{{/partial}}

{{#partial "content"}}
  <div class="content">
    <h2 class="ingreso">Seleccione su ingreso</h2>
    <div class="botonesPrincipales">
      <a class="BotonDeCambioDePagina" href="/admin/workspace">Ingresar como administrador</a><br><br>
      <a class="BotonDeCambioDePagina" href="terminal/ventanaDeTerminal">Ingresar como terminal</a>
    </div>
  </div>
{{/partial}}

{{> base.hbs}}
